@import "global/variables";

.cmp-task__form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;

    &__label {
        background: #f6f1ffe6;
        padding: 5px 10px;
        border-radius: 5px;
    }

    &__input {
        margin: 0 5px;
        width: 50%;
        padding: 10px 15px;
        border-radius: 15px;
        border: 0;

        &:focus {
            outline: none;
            border: none;
        }
    }

    &__btn {
        width: 150px;
        height: 43px;
        padding: 10px;
        background: linear-gradient(#fff, #fff) padding-box, linear-gradient(45deg, slateblue, coral) border-box;
        border: 1.5px solid transparent;
        border-radius: 15px;
        outline: none;
        cursor: pointer;
    }
}
