@import "https://fonts.googleapis.com/css2?family=Outfit&display=swap";

* {
    font-family: Outfit, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}
