@import "global/variables";

.cmp-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 20px;
    background-color: $light-green;
    border-bottom: 1px solid $light-gray;
}